* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('https://imgs.search.brave.com/BAP89M74cxybkBU5rzrpx_Vd6TrWam50lBeXAWWo8F8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS12ZWN0b3Iv/ZWxlZ2FudC13aGl0/ZS1iYWNrZ3JvdW5k/LXdpdGgtc2hpbnkt/bGluZXNfMTAxNy0x/NzU4MC5qcGc_c2Vt/dD1haXNfaHlicmlk/Jnc9NzQw');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 {
  background-color: #100948;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score, #comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  display: inline-block;
  font-size: 2rem;
  background-color: #081b31;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

#restart-btn {
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  background-color: #100948;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#restart-btn:hover {
  background-color: #1f2a6c;
}
